In [1]:
import pandas as pd
import numpy as np

# Set a random seed for reproducibility
np.random.seed(42)

# Generate synthetic data related to electricity consumption
challenge_data = {
    'Household_ID': np.arange(1, 201),
    'Electricity_Consumption_kWh': np.random.normal(200, 50, 200),
    'Region': np.random.choice(['North', 'South', 'East', 'West'], size=200),
    'Appliance_Count': np.random.randint(1, 10, 200),
    'Monthly_Bill_USD': np.random.uniform(50, 300, 200),
    'Household_Members': np.random.randint(1, 6, 200),
    'Has_Solar_Panels': np.random.choice(['yes', 'no'], size=200)  # New column for solar panels
}

# Introduce missing values and outliers
challenge_data['Electricity_Consumption_kWh'][10] = np.nan
challenge_data['Electricity_Consumption_kWh'][80] = 400  # Introduce an outlier
challenge_data['Monthly_Bill_USD'][30:60] = np.nan  # Introduce additional missing values in a range
challenge_data['Monthly_Bill_USD'][150:170] = 500  # Introduce outliers in another range

# Create a DataFrame
challenge_df = pd.DataFrame(challenge_data)

challenge_df

,Household_ID,Electricity_Consumption_kWh,Region,Appliance_Count,Monthly_Bill_USD,Household_Members,Has_Solar_Panels
0,1,224.835708,South,5,107.160701,1,yes
1,2,193.086785,South,3,217.925171,1,no
2,3,232.384427,North,1,204.532060,1,yes
3,4,276.151493,West,1,139.540680,1,yes
4,5,188.292331,North,8,78.389398,2,yes
...,...,...,...,...,...,...,...
195,196,219.265869,North,5,254.149860,1,no
196,197,155.807128,North,9,159.783727,5,no
197,198,207.686255,North,1,144.236107,4,no
198,199,202.910436,East,3,165.669946,3,no
199,200,142.851485,East,4,125.344469,2,yes